/* styles.css */
.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
  
  .btn-raised {
    display: block;
    width: fit-content;
    margin-left: 0;
  }
  
  .text-danger-float-right {
    float: right;
    color: #dc3545;
  }
  
  .text-center {
    text-align: center;
  }
  